body {
  overflow: hidden;
}

.container {
  width: 400px;
  height: 1000px;
  background: url(../images/nokia3210.webp);
  background-size: cover;
  position: absolute;
}

.grid {
  position: absolute;
  top: 230px;
  left: 100px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background: #252b23;
}

.apple {
  background: #252b23;
}

.hidden {
  display: none;
}

.button-press {
  animation: colorChange 0.8s;
}

#start {
  position: absolute;
  left: 165px;
  top: 475px;
  padding: 10px;
  outline: none;
  background: none;
  color: blue;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}

#two,
#four,
#six,
#eight {
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

#two {
  position: absolute;
  top: 630px;
  left: 163px;
}

#four {
  position: absolute;
  top: 700px;
  left: 55px;
}

#six {
  position: absolute;
  top: 700px;
  left: 270px;
}

#eight {
  position: absolute;
  top: 780px;
  left: 163px;
}

@keyframes colorChange {
  0% {
    background: rgba(0, 0, 0, 0.6);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
  }
}
