.grid {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background: green;
}

.apple {
  background: red;
}
